.filter-page {
  padding-inline: 3rem;
}
.filter-title {
  font-family: "Fredericka the Great";
  font-size: 2rem;
  font-weight: bold;
  color: var(--charcoal);
  margin-bottom: 0.5rem;
}
.filter-container {
  display: grid;
  grid-template-columns: 8rem 1fr;
}
.filter-type {
  font-size: 0.8rem;
  padding: 0.5rem 1rem;
}
.filter-content {
  font-size: 0.8rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, 6rem);
  margin-bottom: 0.75rem;
  padding-left: 0.5rem;
  border-left: 1px solid var(--burgundy);
}
.filter-content div {
  margin-right: 0.5rem;
  padding: 0.5rem;
  transition: all 0.15s;
}
.filter-content div:hover {
  background-color: rgba(128, 0, 32, 0.8);
  color: var(--warmgold);
}
.filter-content.active {
  background-color: var(--burgundy);
}
.filter-form {
  margin-bottom: 4rem;
}
.search-results-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 1rem;
}
.result-drink-img {
  width: 100%;
  margin-bottom: 0.25rem;
  cursor: pointer;
}
.result-drink-card {
  width: 15rem;
  padding: 1rem;
}
.result-drink-container h3 {
  font-size: 1rem;
}
