:root {
  --burgundy: #800020;
  --warmgold: #daa520;
  --charcoal: #333333;
  --creamybeige: #faf0e6;
  --midnightblue: #191970;
}
* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto Mono", serif;
  color: var(--charcoal);
}
body {
  background-color: var(--warmgold);
}
.cocktail,
filter {
  font-variation-settings: "FILL" 1, "wght" 300, "GRAD" 0, "opsz" 24;
}
.heart-filled,
.star {
  font-variation-settings: "FILL" 1, "wght" 400, "GRAD" 0, "opsz" 24;
}
.heart-filled {
  color: var(--burgundy);
}
.heart {
  font-variation-settings: "FILL" 0, "wght" 500, "GRAD" 0, "opsz" 24;
}
.share {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
}

.random-drink-page,
.random-drink-card {
  display: flex;
  flex-direction: column;
}
.random-drink-page {
  padding-top: 4rem;
  align-items: center;
  position: relative;
}
.random-drink-card,
.result-drink-card,
.detail-drink-card,
.fav-drink-card {
  border-radius: 0.75rem;
  background-color: var(--creamybeige);
  margin-bottom: 2rem;
}
.random-drink-card {
  width: 70%;
  padding: 2rem 3rem;
}
h3 {
  text-align: center;
  font-family: "Fredericka the Great";
  font-size: 2rem;
  margin-bottom: 1rem;
  cursor: pointer;
}
.random-drink-img {
  object-fit: cover;
  margin-bottom: 1rem;
  cursor: pointer;
}
.actions span {
  font-size: 1.75rem;
  margin-right: 0.5rem;
  cursor: pointer;
}
.reshake-button {
  font-family: "Fredericka the Great";
  font-size: 1.5rem;
  padding: 1rem 1.5rem;
  margin-bottom: 3rem;
  color: var(--charcoal);
  background-color: transparent;
  border: none;
  border-radius: 2rem;
  cursor: pointer;
  transition: all 0.2s;
}
.reshake-button:hover {
  background-color: var(--burgundy);
  color: var(--warmgold);
}
.reshake-button:active {
  background-color: rgba(128, 0, 32, 0.7);
}
.badge-container {
  position: absolute;
  top: 0;
  left: 8vw;
}
.star {
  font-size: 10rem;
  color: var(--burgundy);
  position: relative;
}
.badge-context {
  font-size: 1.5rem;
  font-weight: 500;
  font-family: "Fredericka the Great";
  color: var(--creamybeige);
  position: absolute;
  top: 2.5rem;
  left: 2.5rem;
  line-height: 1.7rem;
}
.hide {
  display: none;
}
