h1 {
  font-family: "Fredericka the Great";
  font-size: 2.5rem;
  padding: 1rem 2.5rem;
  border: 1rem double var(--charcoal);
}
nav {
  display: flex;
  align-items: end;
  justify-content: space-between;
  margin: 1rem 3rem 2rem 3rem;
}
.search-bar {
  background-color: transparent;
  border: none;
  outline: none;
  margin-right: 1rem;
}
.search-bar-container {
  border: 2px solid var(--charcoal);
  border-radius: 2rem;
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  padding: 1rem 2rem;
}
.search-bar::placeholder {
  color: var(--charcoal);
}
.search-bar-container span {
  cursor: pointer;
}
.fav-cart span {
  margin-bottom: 1rem;
  padding: 1rem;
  cursor: pointer;
}
